.chart-container {
  height: 80vh;
  min-height: 200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute;
  top: 100%;
  z-index: 9;
  left:0%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  min-height: 100vh;
}

.chart-section1,
.chart-section2 {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* blanco transparente */
}


/* Para pantallas más grandes, puedes mostrar los gráficos lado a lado */
@media (min-width: 1200px) {
  .chart-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .chart-section1,
  .chart-section2 {
    flex: 1;
    min-width: 600px;
  }
}


@media (max-width: 768px) {
  .chart-container {
    height: 60vh;
    min-height: 300px;
  }
}