.content-section {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  max-width: 160px;
  z-index: 10;
  text-align: center;
}
.content-section1 {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  max-width: 46%;
  z-index: 10;
  text-align: center;

}

/* Estilos sugeridos para el botón Entrar */
.btn-entrar {
    /* Diseño */
    background-color: black; /* Color primario de ejemplo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px; /* Separación del texto superior */
    transition: background-color 0.3s ease;
    position: absolute;
    /* Para centrarlo si el content-box lo permite */
    display: block; 
    margin-left: auto;
    margin-right: auto;
    left: 90%;;
}

.btn-entrar:hover {
    background-color: white;
    color: black;
}

.content-section2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  z-index: 10;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.2); /* blanco translúcido */
  backdrop-filter: blur(6px);                /* efecto glassmorphism */
  border-radius: 16px;                        /* bordes redondeados */
  padding: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* sombra suave */
}
.content-section3 {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  max-width: 46%;
  z-index: 10;
  text-align: center;

}

.content-box1 {
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  color:white;
  font-size: 18px;
}
.content-box4 {
  padding: 1rem;
  border-radius: 15px;
  font-size: 18px;
}

.cta-button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background: #2D112B;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background: #4a1d48;
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}